@model ITEC.Objects.CarConsumption
@{
    string result = "";
    if (ViewBag.Result != null)
    {
        result = ViewBag.Result.ToString();
    }

    string boldmessage = "";
    string normalmessage = "";
    if (ViewBag.BoldMsg!=null)
    {
        boldmessage = ViewBag.BoldMsg.ToString();
    }
    if (ViewBag.NormalMsg != null)
    {
        normalmessage = ViewBag.NormalMsg.ToString();
    }
    ViewBag.Title = "Your CO2 Impact";
    List<SelectListItem> mylist = new List<SelectListItem>
            {
            new SelectListItem
            {
                Text = "Petrol",
                Value = "petrol",
                Disabled = false,
                Selected = true
            },
            new SelectListItem
            {
                Text = "Diesel",
                Value = "diesel",
                Disabled = false,
                Selected = false
            },
            new SelectListItem
            {
                Text = "Autogas",
                Value = "gas",
                Disabled = false,
                Selected = false
            }
        };

    }
    <h2 style="text-align: center">@ViewBag.Title</h2>
    <div class="container">
        <h4 style="text-align: center">Choose your fuel type, fuel consumption and your approximate daily driving distance and see what is your impact on the environment!</h4><br/><br/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @using (Html.BeginForm("CalculateImpact", "Home", Model, FormMethod.Get, new {@class = "form-horizontal", id="impactform"}))
                    {
                        <div>
                            @Html.Label("Select type of fuel", new {@class = "control-label"})
                            @Html.DropDownListFor(m => m.FuelType, mylist, new {@class = "form-control"})
                        </div>
                        <div>
                            @Html.Label("Consumption", new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.Consumption, new {type = "number", min = "0", max = "10000", placeholder = "Enter consumption l/100", @class = "form-control"})
                        </div>
                        <div>
                            @Html.Label("Daily km", new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.Km, new {type = "number", min = "0", max = "10000", placeholder = "Enter daily KM", @class = "form-control"})
                        </div>
                        <div style="padding-top:10px">
                            <input type="submit" class="btn btn-info btn-block" value="Submit"/>
                        </div>
                    }
                </div>
            </div>
            <div class ="col-md-6">
                <div id="message" role="alert">
                    <h2> <b>@boldmessage</b></h2>
                    <h4>@normalmessage</h4>
                </div>
            </div>
        </div>
    </div>


<style>
   
     body{
         background: #AEAA88; /* For browsers that do not support gradients */
         background: linear-gradient(#AEAA88,#FFFFCC,#FFFF66); /* Standard syntax */
         
     }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
      
    }
    .carousel-custom .carousel-outer {
        position: relative;
    }
</style>

<script src="/Scripts/jquery-3.1.1.js"></script>
<script>
    $(document).ready(
        function() {
            var color = '@result';
            if (color === '""') {
                return false;   
            } else {
                if (color === 'green') {
                    $('#message').toggleClass("alert-success");
                } else {
                    $('#message').toggleClass("alert-danger");

                }
            }
        }


        )



</script>